<a href="https://colab.research.google.com/github/luccemhu/sesion-1/blob/main/S1a_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TALLER PYTHON - QLAB 2023-2

Recordatorio:
i) La variable puede ser una secuencia seguida de letras y dígitos.
ii) a.. z, y A.. Z, el guión bajo (_) es una letra.

### Variables numericas

In [ ]:
entero = 10 # Una variable/objeto no puede comenzar con número
print(entero) # Output, imprimir
type(entero) # Tipo de variable

10

int

In [ ]:
real = 0.3403 # variable real (decimales)
print(real)
type(real)

0.3403

float

In [ ]:
z = 2 + 3j # variable compleja
print(z)
type(z)

(2+3j)

complex

### Booleanos
Una variable de tipo booleano sólo puede tener dos valores: True (verdadero) y False (falso)
- Importante para los bucles o condiciones

In [ ]:
a = True
print(a)
type(a)

True

bool

### Cadenas
Las cadenas es texto encerrado entre comillas simples (‘cadena’) o dobles (“cadena”)

In [ ]:
cadena = "Hola mundo"
print(cadena)
# cadena

Hola mundo

In [ ]:
type(cadena)

str

In [ ]:
print(len(cadena)) # len: longitud de la cadena: en este caso 10 espacios

10

In [ ]:
print( cadena[0] ) # Imprimir el primer caracter de la cadena (la primera letra)

H

In [ ]:
# Ejercicio a realizar
print( cadena[5] )

m

### Operadores aritméticos

In [ ]:
8**2 # 8 al cuadrado (exponente)

64

In [ ]:
11/3 # division

3.6666666666666665

In [ ]:
11//3 # División entera (redondea)

3

In [ ]:
11/3

11%3 # Residuo de la division

2

In [ ]:
49%7 # El residuo debe ser cero para que en este caso sea multiplo de 7. Sí lo es.

0

### Operadores booleanos

In [ ]:
7 > 2

True

In [ ]:
"Hola" == "hola"

False

In [ ]:
a = 3.0
b = 3.1
c =  b != a # "b" no es igual a "a"

In [ ]:
print(c)

True

###Listas
Son colecciones ordenadas de items.
* Se puede cambiar los items de la lista.
* La longitud de la lista de puede obtener con la funcion <b>len()</b>
* El primer item es el indice 0.

In [ ]:
milista = [1, 2, 3, "hola"]
print(milista)

[1, 2, 3, 'hola']

In [ ]:
print( milista[-1] ) # Imprime desde el lado derecho (la primera variable)

hola

In [ ]:
print( len(milista) ) # En la lista hay 4 variables

4

In [ ]:
for item in milista: # for in <- comandos para imprimir
    print (item)

1
2
3
hola

In [ ]:
milista[0] = 3 #  Cambir el primer elemento (en este caso es 1) por 3
print(milista)

[3, 2, 3, 'hola']

In [ ]:
milista.append(33) # .append() <- Para agregar otra variable (33) a la lista "milista"
print(milista)

[3, 2, 3, 'hola', 33]

In [ ]:
otralista = [ 7, 8, 9] # Creo otro objeto (otralista)
milista.extend(otralista) # .extend() <- para gregar otra lista a la lista "milista"
print(milista)

[3, 2, 3, 'hola', 33, 7, 8, 9]

In [ ]:
del milista[1] # del <- Para borrar el segundo elemento de la lista creada (en este caso se borra el 2)
milista

[3, 3, 'hola', 33, 7, 8, 9]

### Diccionarios
Son estructuras que almacenan entradas (pares <b>clave:valor</b>)

*valores inmutables: que no se pudean duplicar. lo valores pueden ser de cualquier tipo*

In [ ]:
dic_edades = {'Maria': 25, 'Jose': 28, 'Pedro': 35}
print(dic_edades)

{'Maria': 25, 'Jose': 28, 'Pedro': 35}

In [ ]:
dic_edades['Jose'] # Buscar el valor de jose

28

In [ ]:
dic_edades['Jose'] = 30 # cambiar el valor de jose
print(dic_edades)

{'Maria': 25, 'Jose': 30, 'Pedro': 35}

In [ ]:
dic_edades.keys() # Para recuperar todas las claves del diccionario

dict_keys(['Maria', 'Jose', 'Pedro'])

In [ ]:
dic_edades.values() # Para recuperar todos los valres del diccionario

dict_values([25, 30, 35])

In [ ]:
dic_edades.items() # Similar a un print, recupera todo: claves y valores

dict_items([('Maria', 25), ('Jose', 30), ('Pedro', 35)])

### Sentencias condicionales

*controles de flujos:*

* Condicionales <b>if ... else</b> sería como condiciones dicotomicas
* Condicionales <b>if ...elif...else</b> como condiciones politomicas

In [ ]:
valor = str(input('¿Quién es la mejor cantante? ')) # aquí se despliega una celda para la respuesta. Por ejemplo, si se se responde "Lana del Rey", el output será 'Estoy de acuerdo'. # str() <- palabras
if valor == "Lana del Rey":
    print('Estoy de acuerdo')
else:
    print('respeto tu opinion')

¿Quién es la mejor cantante? juan
respeto tu opinion

In [ ]:
valor = int(input('¿Cual es tu edad?: ')) # aquí se despliega una celda para la respuesta. Los codigos que siguen son condicionales. # int() <- enteros

if 0 <= valor <= 20:
    print('Eres muy joven')
elif 20 < valor <= 40:
    print('Eres joven aun')
elif 40 < valor <= 60:
    print('Tu experiencia es valiosa')
else:
    print('Tienes mucho que enseñarnos')

¿Cual es tu edad?: 40
Eres joven aun

### Bucle <b>While</b>

-   Repite la accion mientras se mantenga la condicion

In [ ]:
i = 0 # Primer valor asignado
while i < 10:
    print(i)
    i = i + 1 # Nuevo valor asignado hasta la condicion
print('fin')

0
1
2
3
4
5
6
7
8
9
fin

### Bucle <b>For</b>

Repite la accion segun su lugar

In [ ]:
milista = ["hola", "¿como estas?", "adios"] # Variables string
for item in milista:
    print(item)

hola
¿como estas?
adios

In [ ]:
# Usemos la lista dic_edades.items creada lineas arriba:
for nombre, edad in dic_edades.items():
    print("Edad de {}: {}".format(nombre, edad))

Edad de Maria: 25
Edad de Jose: 30
Edad de Pedro: 35

Importante: <b>range(i)</b> genera una secuencia iterable de enteros entre 0 y i-1 (no incluye i)

In [ ]:
for i in range(10): # Enteros hasta antes del valor 10 # Por default el maximo sería 10 en este caso
    print("valor de i=", str(i))

valor de i= 0
valor de i= 1
valor de i= 2
valor de i= 3
valor de i= 4
valor de i= 5
valor de i= 6
valor de i= 7
valor de i= 8
valor de i= 9

In [ ]:
for i in range(5, 25, 2): # range(inicio, máximo, pasos) # Son argumentos del comando range()
    print("valor de i=", str(i))

valor de i= 5
valor de i= 7
valor de i= 9
valor de i= 11
valor de i= 13
valor de i= 15
valor de i= 17
valor de i= 19
valor de i= 21
valor de i= 23

La sentencia <b>break</b> termina la ejecucion del bucle for

In [ ]:
for i in range(5):
    for j in range(5):
        if (i - j) == 3:
            break    # rompe el for interno cuando i+j es igual a 3
        print ("i=", str(i), ", j=", str(j))

i= 0 , j= 0
i= 0 , j= 1
i= 0 , j= 2
i= 0 , j= 3
i= 0 , j= 4
i= 1 , j= 0
i= 1 , j= 1
i= 1 , j= 2
i= 1 , j= 3
i= 1 , j= 4
i= 2 , j= 0
i= 2 , j= 1
i= 2 , j= 2
i= 2 , j= 3
i= 2 , j= 4
i= 4 , j= 0

<b>continue</b> termina la ejecucion de la iteracion actual en el bucle for y continua con la siguiente iteracion.

In [ ]:
for i in range(8):
    if i == 4:
        continue
    print(i)

0
1
2
3
5
6
7

### FUNCIONES

In [ ]:
def suma(x, y):  # definimos la funcion -> Suma()
    return x + y

In [ ]:
resultado = suma(1, 3) # Ahora colocamos los valores
print(resultado)

4

In [ ]:
def area_rectangulo(largo, alto): # Establecemos otra funcion
     return largo * alto # Aqui indicamos multiplicacion

In [ ]:
area_rectangulo(alto=5,largo=10) # Asignamos valores y nos imprime el resultado

50

In [ ]:
Prueba en git