#Pandas

Importar pandas

In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
import pandas as pd

Crear dataframe

In [3]:
##Forma 1
nombres_columnas = ['Departamento', 'Provincia']

obs1 = ['Amazonas', 'Chachapoyas']
obs2 = ['Cajamarca',  'Chota']

data1 = [obs1, obs2]

ejemplo_df = pd.DataFrame(data = data1, columns = nombres_columnas)
ejemplo_df

  Departamento    Provincia
0     Amazonas  Chachapoyas
1    Cajamarca        Chota

In [4]:
type(ejemplo_df)

pandas.core.frame.DataFrame

In [5]:
##Forma 2
df = pd.DataFrame()
df['Departamento'] = ['Amazonas', 'Cajamarca']
df['Provincia'] = [ 'Chachapoyas' , 'Chota']
df['Distrito'] = ["Asuncion", "Chadin"]

df

  Departamento    Provincia  Distrito
0     Amazonas  Chachapoyas  Asuncion
1    Cajamarca        Chota    Chadin

Leer Informacion

In [ ]:
locacion_datos = "https://raw.githubusercontent.com/darlaabril/Taller-Python/main/DataPanda%20-%20Hoja%201%20(1).csv"
ndf = pd.read_csv(locacion_datos)
ndf

In [8]:
ndf.shape

(25, 5)

In [11]:
## Primeras observaciones
ndf.head()

  Departamento      Capital  Pob2007  Pob2017  CodDepartamento
0     Amazonas  Chachapoyas   375993   379384                1
1       Áncash       Huaraz  1063459  1083519                2
2     Apurímac      Abancay   404190   405759                3
3     Arequipa     Arequipa  1152303  1382730                4
4     Ayacucho     Ayacucho   612489   616176                5

In [13]:
## Ultimas observaciones
ndf.tail(2)

   Departamento   Capital  Pob2007  Pob2017  CodDepartamento
23       Tumbes    Tumbes   200306   224863               24
24      Ucayali  Pucallpa   432159   496459               25

Explorar Base de datos

In [ ]:
## Column: Obtenemos el nombre de las columnas
## Non-null Count: si es que hay valores faltantes (missing values)  y 
## Dtype: para el tipo de cada una de las columnas 
ndf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Departamento     25 non-null     object
 1   Capital          25 non-null     object
 2   Pob2007          25 non-null     object
 3   Pob2017          25 non-null     object
 4   CodDepartamento  25 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.1+ KB

In [14]:
### Nos ayuda a ver las dimensiones de nuestra base de datos. 
ndf.shape

(25, 5)

In [15]:
##Medidas
ndf.describe()

            Pob2007       Pob2017  CodDepartamento
count  2.500000e+01  2.500000e+01        25.000000
mean   1.096486e+06  1.175275e+06        13.000000
std    1.598077e+06  1.799928e+06         7.359801
min    1.095550e+05  1.410700e+05         1.000000
25%    4.041900e+05  3.793840e+05         7.000000
50%    7.622230e+05  8.507650e+05        13.000000
75%    1.171403e+06  1.205527e+06        19.000000
max    8.445211e+06  9.485405e+06        25.000000

In [17]:
ndf.nunique()

Departamento       25
Capital            25
Pob2007            25
Pob2017            25
CodDepartamento    25
dtype: int64

In [16]:
ndf['Departamento'].nunique()

25

In [19]:
nomb_variables = ndf.columns

In [18]:
ndf.columns

Index(['Departamento', 'Capital', 'Pob2007', 'Pob2017', 'CodDepartamento'], dtype='object')

In [20]:
for nomb in nomb_variables:
    print(nomb)

Departamento
Capital
Pob2007
Pob2017
CodDepartamento

Seleccion de datos

In [21]:
##Forma 1
ndf.Capital

0          Chachapoyas
1               Huaraz
2              Abancay
3             Arequipa
4             Ayacucho
5            Cajamarca
6               Callao
7                Cuzco
8         Huancavelica
9              Huánuco
10                 Ica
11            Huancayo
12            Trujillo
13            Chiclayo
14                Lima
15             Iquitos
16    Puerto Maldonado
17            Moquegua
18      Cerro de Pasco
19               Piura
20                Puno
21           Moyobamba
22               Tacna
23              Tumbes
24            Pucallpa
Name: Capital, dtype: object

In [22]:
##Forma 2
ndf['Capital']

0          Chachapoyas
1               Huaraz
2              Abancay
3             Arequipa
4             Ayacucho
5            Cajamarca
6               Callao
7                Cuzco
8         Huancavelica
9              Huánuco
10                 Ica
11            Huancayo
12            Trujillo
13            Chiclayo
14                Lima
15             Iquitos
16    Puerto Maldonado
17            Moquegua
18      Cerro de Pasco
19               Piura
20                Puno
21           Moyobamba
22               Tacna
23              Tumbes
24            Pucallpa
Name: Capital, dtype: object

In [23]:
ndf['nombre capital'] = ndf['Capital']

In [24]:
ndf.columns

Index(['Departamento', 'Capital', 'Pob2007', 'Pob2017', 'CodDepartamento',
       'nombre capital'],
      dtype='object')

In [25]:
ndf['nombre capital']

0          Chachapoyas
1               Huaraz
2              Abancay
3             Arequipa
4             Ayacucho
5            Cajamarca
6               Callao
7                Cuzco
8         Huancavelica
9              Huánuco
10                 Ica
11            Huancayo
12            Trujillo
13            Chiclayo
14                Lima
15             Iquitos
16    Puerto Maldonado
17            Moquegua
18      Cerro de Pasco
19               Piura
20                Puno
21           Moyobamba
22               Tacna
23              Tumbes
24            Pucallpa
Name: nombre capital, dtype: object

In [27]:
##Contar los valores únicos de una sola columna, en este caso podriamos notar cuantos distritos tiene las provincias

ndf['Capital'].value_counts(normalize = True)*100

Chachapoyas         4.0
Chiclayo            4.0
Tumbes              4.0
Tacna               4.0
Moyobamba           4.0
Puno                4.0
Piura               4.0
Cerro de Pasco      4.0
Moquegua            4.0
Puerto Maldonado    4.0
Iquitos             4.0
Lima                4.0
Trujillo            4.0
Huaraz              4.0
Huancayo            4.0
Ica                 4.0
Huánuco             4.0
Huancavelica        4.0
Cuzco               4.0
Callao              4.0
Cajamarca           4.0
Ayacucho            4.0
Arequipa            4.0
Abancay             4.0
Pucallpa            4.0
Name: Capital, dtype: float64

Seleccionando un grupo de columnas

In [28]:
ndf.columns

Index(['Departamento', 'Capital', 'Pob2007', 'Pob2017', 'CodDepartamento',
       'nombre capital'],
      dtype='object')

In [29]:
censos= ['Pob2007', 'Pob2017']

In [30]:
print(ndf[censos])

    Pob2007  Pob2017
0    375993   379384
1   1063459  1083519
2    404190   405759
3   1152303  1382730
4    612489   616176
5   1387809  1341012
6    876877   994494
7   1171403  1205527
8    454797   347639
9    762223   721047
10   711932   850765
11  1225474  1246038
12  1617050  1778080
13  1112868  1197260
14  8445211  9485405
15   891732   883510
16   109555   141070
17   161533   174863
18   280449   254065
19  1676315  1856809
20  1268441  1172697
21   728808   813381
22   288781   329332
23   200306   224863
24   432159   496459

In [31]:
ndf[['Pob2007', 'Pob2017']]

    Pob2007  Pob2017
0    375993   379384
1   1063459  1083519
2    404190   405759
3   1152303  1382730
4    612489   616176
5   1387809  1341012
6    876877   994494
7   1171403  1205527
8    454797   347639
9    762223   721047
10   711932   850765
11  1225474  1246038
12  1617050  1778080
13  1112868  1197260
14  8445211  9485405
15   891732   883510
16   109555   141070
17   161533   174863
18   280449   254065
19  1676315  1856809
20  1268441  1172697
21   728808   813381
22   288781   329332
23   200306   224863
24   432159   496459

In [32]:
type(ndf['Departamento'])

pandas.core.series.Series

Seleccionar

In [33]:
##Forma 1: iloc
ndf.iloc[0]

Departamento          Amazonas
Capital            Chachapoyas
Pob2007                 375993
Pob2017                 379384
CodDepartamento              1
nombre capital     Chachapoyas
Name: 0, dtype: object

In [34]:
##Seleccionando especificas
ndf.iloc[[10,13,20]]

   Departamento   Capital  Pob2007  Pob2017  CodDepartamento nombre capital
10          Ica       Ica   711932   850765               11            Ica
13   Lambayeque  Chiclayo  1112868  1197260               14       Chiclayo
20         Puno      Puno  1268441  1172697               21           Puno

In [36]:
ndf_ind = ndf.set_index('Departamento')

In [37]:
ndf_ind.head(5)

                  Capital  Pob2007  Pob2017  CodDepartamento nombre capital
Departamento
Amazonas      Chachapoyas   375993   379384                1    Chachapoyas
Áncash             Huaraz  1063459  1083519                2         Huaraz
Apurímac          Abancay   404190   405759                3        Abancay
Arequipa         Arequipa  1152303  1382730                4       Arequipa
Ayacucho         Ayacucho   612489   616176                5       Ayacucho

In [38]:
columnas = ["Departamento", "Capital", "CodDepartamento"]
ndf.loc[:, columnas]

     Departamento           Capital  CodDepartamento
0        Amazonas       Chachapoyas                1
1          Áncash            Huaraz                2
2        Apurímac           Abancay                3
3        Arequipa          Arequipa                4
4        Ayacucho          Ayacucho                5
5       Cajamarca         Cajamarca                6
6          Callao            Callao                7
7           Cusco             Cuzco                8
8    Huancavelica      Huancavelica                9
9         Huánuco           Huánuco               10
10            Ica               Ica               11
11          Junín          Huancayo               12
12    La Libertad          Trujillo               13
13     Lambayeque          Chiclayo               14
14           Lima              Lima               15
15         Loreto           Iquitos               16
16  Madre de Dios  Puerto Maldonado               17
17       Moquegua          Moquegua               18
18          Pasco    Cerro de Pasco               19
19          Piura             Piura               20
20           Puno              Puno               21
21     San Martín         Moyobamba               22
22          Tacna             Tacna               23
23         Tumbes            Tumbes               24
24        Ucayali          Pucallpa               25

In [39]:
ndf.loc[0:10, columnas]

    Departamento       Capital  CodDepartamento
0       Amazonas   Chachapoyas                1
1         Áncash        Huaraz                2
2       Apurímac       Abancay                3
3       Arequipa      Arequipa                4
4       Ayacucho      Ayacucho                5
5      Cajamarca     Cajamarca                6
6         Callao        Callao                7
7          Cusco         Cuzco                8
8   Huancavelica  Huancavelica                9
9        Huánuco       Huánuco               10
10           Ica           Ica               11

Filtrar informacion

In [42]:
ndf

,Departamento,Capital,Pob2007,Pob2017,CodDepartamento,nombre capital
0,Amazonas,Chachapoyas,375993,379384,1,Chachapoyas
1,Áncash,Huaraz,1063459,1083519,2,Huaraz
2,Apurímac,Abancay,404190,405759,3,Abancay
3,Arequipa,Arequipa,1152303,1382730,4,Arequipa
4,Ayacucho,Ayacucho,612489,616176,5,Ayacucho
5,Cajamarca,Cajamarca,1387809,1341012,6,Cajamarca
6,Callao,Callao,876877,994494,7,Callao
7,Cusco,Cuzco,1171403,1205527,8,Cuzco
8,Huancavelica,Huancavelica,454797,347639,9,Huancavelica
9,Huánuco,Huánuco,762223,721047,10,Huánuco
10,Ica,Ica,711932,850765,11,Ica
11,Junín,Huancayo,1225474,1246038,12,Huancayo
12,La Libertad,Trujillo,1617050,1778080,13,Trujillo
13,Lambayeque,Chiclayo,1112868,1197260,14,Chiclayo
14,Lima,Lima,8445211,9485405,15,Lima
15,Loreto,Iquitos,891732,883510,16,Iquitos
16,Madre de Dios,Puerto Maldonado,109555,141070,17,Puerto Maldonado
17,Moquegua,Moquegua,161533,174863,18,Moquegua
18,Pasco,Cerro de Pasco,280449,254065,19,Cerro de Pasco
19,Piura,Piura,1676315,1856809,20,Piura
20,Puno,Puno,1268441,1172697,21,Puno
21,San Martín,Moyobamba,728808,813381,22,Moyobamba
22,Tacna,Tacna,288781,329332,23,Tacna
23,Tumbes,Tumbes,200306,224863,24,Tumbes
24,Ucayali,Pucallpa,432159,496459,25,Pucallpa

In [41]:
cond = ndf['Pob2007'] > 1000000
ndf[cond]

   Departamento    Capital  Pob2007  Pob2017  CodDepartamento nombre capital
1        Áncash     Huaraz  1063459  1083519                2         Huaraz
3      Arequipa   Arequipa  1152303  1382730                4       Arequipa
5     Cajamarca  Cajamarca  1387809  1341012                6      Cajamarca
7         Cusco      Cuzco  1171403  1205527                8          Cuzco
11        Junín   Huancayo  1225474  1246038               12       Huancayo
12  La Libertad   Trujillo  1617050  1778080               13       Trujillo
13   Lambayeque   Chiclayo  1112868  1197260               14       Chiclayo
14         Lima       Lima  8445211  9485405               15           Lima
19        Piura      Piura  1676315  1856809               20          Piura
20         Puno       Puno  1268441  1172697               21           Puno

Limpieza de datos

In [ ]:
ndf = ndf.sort_values("CodDepartamento")

In [43]:
ndf.sort_values("CodDepartamento", inplace = True)
ndf.head(5)

  Departamento      Capital  Pob2007  Pob2017  CodDepartamento nombre capital
0     Amazonas  Chachapoyas   375993   379384                1    Chachapoyas
1       Áncash       Huaraz  1063459  1083519                2         Huaraz
2     Apurímac      Abancay   404190   405759                3        Abancay
3     Arequipa     Arequipa  1152303  1382730                4       Arequipa
4     Ayacucho     Ayacucho   612489   616176                5       Ayacucho

In [44]:
ndf.sort_values("CodDepartamento",ascending = False,  inplace = True)
ndf.head(5)

   Departamento    Capital  Pob2007  Pob2017  CodDepartamento nombre capital
24      Ucayali   Pucallpa   432159   496459               25       Pucallpa
23       Tumbes     Tumbes   200306   224863               24         Tumbes
22        Tacna      Tacna   288781   329332               23          Tacna
21   San Martín  Moyobamba   728808   813381               22      Moyobamba
20         Puno       Puno  1268441  1172697               21           Puno

Cambiar de nombre

In [45]:
ndf2 = ndf.copy(deep = True)

In [46]:
ndf2.columns

Index(['Departamento', 'Capital', 'Pob2007', 'Pob2017', 'CodDepartamento',
       'nombre capital'],
      dtype='object')

In [ ]:
nuevos_nombres = {'Pob2007': 'Censo2007', 'Pob2017' : 'Censo2017'}
ndf2.rename(columns = nuevos_nombres, inplace = True)

In [47]:
ndf2.rename(columns = {'Pob2007': 'Censo2007', 'Pob2017' : 'Censo2017'}, inplace = True)

In [48]:
ndf2.columns

Index(['Departamento', 'Capital', 'Censo2007', 'Censo2017', 'CodDepartamento',
       'nombre capital'],
      dtype='object')

Cambio de valores en variables

In [51]:
ndf2.loc[ndf2['Capital'] == 'Chachapoyas', 'Capital'] = 'CHACHAPOYA'
ndf2

,Departamento,Capital,Censo2007,Censo2017,CodDepartamento,nombre capital
24,Ucayali,Pucallpa,432159,496459,25,Pucallpa
23,Tumbes,Tumbes,200306,224863,24,Tumbes
22,Tacna,Tacna,288781,329332,23,Tacna
21,San Martín,Moyobamba,728808,813381,22,Moyobamba
20,Puno,Puno,1268441,1172697,21,Puno
19,Piura,Piura,1676315,1856809,20,Piura
18,Pasco,Cerro de Pasco,280449,254065,19,Cerro de Pasco
17,Moquegua,Moquegua,161533,174863,18,Moquegua
16,Madre de Dios,Puerto Maldonado,109555,141070,17,Puerto Maldonado
15,Loreto,Iquitos,891732,883510,16,Iquitos
14,Lima,Lima,8445211,9485405,15,Lima
13,Lambayeque,Chiclayo,1112868,1197260,14,Chiclayo
12,La Libertad,Trujillo,1617050,1778080,13,Trujillo
11,Junín,Huancayo,1225474,1246038,12,Huancayo
10,Ica,Ica,711932,850765,11,Ica
9,Huánuco,Huánuco,762223,721047,10,Huánuco
8,Huancavelica,Huancavelica,454797,347639,9,Huancavelica
7,Cusco,Cuzco,1171403,1205527,8,Cuzco
6,Callao,Callao,876877,994494,7,Callao
5,Cajamarca,Cajamarca,1387809,1341012,6,Cajamarca
4,Ayacucho,Ayacucho,612489,616176,5,Ayacucho
3,Arequipa,Arequipa,1152303,1382730,4,Arequipa
2,Apurímac,Abancay,404190,405759,3,Abancay
1,Áncash,Huaraz,1063459,1083519,2,Huaraz
0,Amazonas,CHACHAPOYA,375993,379384,1,Chachapoyas

Nueva Variable

In [52]:
ndf['nueva columna'] = 4
ndf.head(3)

,Departamento,Capital,Pob2007,Pob2017,CodDepartamento,nombre capital,nueva columna
24,Ucayali,Pucallpa,432159,496459,25,Pucallpa,4
23,Tumbes,Tumbes,200306,224863,24,Tumbes,4
22,Tacna,Tacna,288781,329332,23,Tacna,4

Merge

In [58]:
ndf_1 = ndf[['Departamento', 'nueva columna']]

ndf_2 = ndf2[['Departamento', 'Capital']]

In [61]:
ndf_2.loc[ndf2['Departamento'] == 'Amazonas', 'Departamento'] = 'AMAZONAS'

<ipython-input-61-ce4b11cf6115>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ndf_2.loc[ndf2['Departamento'] == 'Amazonas', 'Departamento'] = 'AMAZONAS'

In [63]:
ndf_1

     Departamento  nueva columna
24        Ucayali              4
23         Tumbes              4
22          Tacna              4
21     San Martín              4
20           Puno              4
19          Piura              4
18          Pasco              4
17       Moquegua              4
16  Madre de Dios              4
15         Loreto              4
14           Lima              4
13     Lambayeque              4
12    La Libertad              4
11          Junín              4
10            Ica              4
9         Huánuco              4
8    Huancavelica              4
7           Cusco              4
6          Callao              4
5       Cajamarca              4
4        Ayacucho              4
3        Arequipa              4
2        Apurímac              4
1          Áncash              4
0        Amazonas              4

In [ ]:
how = 'inner', 'left', 'right', 'outer'

In [ ]:
resultado_merge = pd.merge(ndf_1, ndf_2,
                    left_on = 'Departamento',
                    right_on = 'Departamento',
                    how = 'inner', indicator = True)
resultado_merge

     Departamento nueva columna           Capital _merge
0          Áncash         datos            Huaraz   both
1        Apurímac         datos           Abancay   both
2        Arequipa         datos          Arequipa   both
3        Ayacucho         datos          Ayacucho   both
4       Cajamarca         datos         Cajamarca   both
5          Callao         datos            Callao   both
6           Cusco         datos             Cuzco   both
7    Huancavelica         datos      Huancavelica   both
8         Huánuco         datos           Huánuco   both
9             Ica         datos               Ica   both
10          Junín         datos          Huancayo   both
11    La Libertad         datos          Trujillo   both
12     Lambayeque         datos          Chiclayo   both
13           Lima         datos              Lima   both
14         Loreto         datos           Iquitos   both
15  Madre de Dios         datos  Puerto Maldonado   both
16       Moquegua         datos          Moquegua   both
17          Pasco         datos    Cerro de Pasco   both
18          Piura         datos             Piura   both
19           Puno         datos              Puno   both
20     San Martín         datos         Moyobamba   both
21          Tacna         datos             Tacna   both
22         Tumbes         datos            Tumbes   both
23        Ucayali         datos          Pucallpa   both

In [64]:
resultado_merge = pd.merge(ndf_1, ndf_2, on = 'Departamento', how = 'outer', indicator = True)

In [65]:
resultado_merge

     Departamento  nueva columna           Capital      _merge
0         Ucayali            4.0          Pucallpa        both
1          Tumbes            4.0            Tumbes        both
2           Tacna            4.0             Tacna        both
3      San Martín            4.0         Moyobamba        both
4            Puno            4.0              Puno        both
5           Piura            4.0             Piura        both
6           Pasco            4.0    Cerro de Pasco        both
7        Moquegua            4.0          Moquegua        both
8   Madre de Dios            4.0  Puerto Maldonado        both
9          Loreto            4.0           Iquitos        both
10           Lima            4.0              Lima        both
11     Lambayeque            4.0          Chiclayo        both
12    La Libertad            4.0          Trujillo        both
13          Junín            4.0          Huancayo        both
14            Ica            4.0               Ica        both
15        Huánuco            4.0           Huánuco        both
16   Huancavelica            4.0      Huancavelica        both
17          Cusco            4.0             Cuzco        both
18         Callao            4.0            Callao        both
19      Cajamarca            4.0         Cajamarca        both
20       Ayacucho            4.0          Ayacucho        both
21       Arequipa            4.0          Arequipa        both
22       Apurímac            4.0           Abancay        both
23         Áncash            4.0            Huaraz        both
24       Amazonas            4.0               NaN   left_only
25       AMAZONAS            NaN          AMAZONAS  right_only